@import url(http://fonts.googleapis.com/css?family=Quantico);

* {
	font-family: "Quantico";
}

html, body {
	background-color: #00005f;
}

body {
	text-align: center;
}

/*Header*/

#headerImg {
	display: block;
}

#headerImg img {
	margin: 25px 0;
	border-radius: 3px;
	box-shadow: 0 0 20px 3px black;
}

/*Main Content*/

#mainContent {
	background-color: #dfdfdf;
	border-radius: 10px;
	box-shadow: -3px -3px 100px 5px #685b5b;
}

header {
	margin: auto;
	font-size: 2em;
	text-align: center;
	box-shadow: 0 4px 2px -2px gray;
}

header a {

	height: 100%;
	padding: 0 5px;
	text-decoration: none;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-color: black;
	border-radius: 3px;
	color: #41146b;
	-webkit-transition: all ease-out 0.4s;
       -moz-transition: all ease-out 0.4s;
         -o-transition: all ease-out 0.4s;
            transition: all ease-out 0.4s;
}

header a:visited {
	color: #41146b;
}

header a:hover {
	color: white;
	background-color: #5f5f5f;
	text-decoration: underline;
}

#currentA {
	text-decoration: underline;
}

#graphs {
	overflow: hidden;
	padding: 10px 10px 30px 10px;
	margin-bottom: 20px;
}

#graphs h1 {
	margin: 1px 0;
	font-size: 4em;
}

#graphs h2 {
	font-size: 3em;
}

.imgGroup {
    display:table;
    width:100%;
}

.groupImg{
    display:table-cell;
    width:50%;
    vertical-align:middle;
}

.groupImg img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.strongCenter img{
    width: 50% !important;
    display: inline-block;
}

.clearAll {
	clear: both;
}

/*Footer*/

footer {
	clear: both;
	font-size: 12px;
	position: relative;
	top: 10px;
	max-width: 50%;
	margin: 0 0 25px 200px;
}

footer p {
	display: inline;
	color: #fff;
}

footer a {
	color: #A785B5;
}

footer a:hover {
	color: white;
}

/*Tables*/

table {
	margin: 30px auto;
	font-size: 1.5em;
	border-collapse:collapse;
	border-radius: 3px;
}

.tableHead {
	color: red;
	font-weight: bold;
}

th:not(.tableHead), td {
	border:1px solid black;
	padding: 10px;
}